<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Boardgame</servlet-name>
        <servlet-class>center.Boardgame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseTester</servlet-name>
        <servlet-class>center.DatabaseTester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Facebook</servlet-name>
        <servlet-class>center.Facebook</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>Boardgame</servlet-name>
        <url-pattern>/Ajaxdest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseTester</servlet-name>
        <url-pattern>/DatabaseTester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Facebook</servlet-name>
        <url-pattern>/Facebook/*</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
